div#App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

div#App > footer,
div#App > header {
  background-color: black;
  min-height: 60px;
}

div#App footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

img#gitHub:hover {
  filter: drop-shadow(0 0 8px white);
}
