main#home {
  flex-grow: 1;
  background: url("../images/shoppingBG.webp") no-repeat center;
  background-size: cover;
  min-height: 818px;
}

main#home h1 {
  margin: 30px auto;
  padding: 4px 8px;
  border-radius: 12px;
  text-align: center;
  text-shadow: 0 0 4px black;
  letter-spacing: 2px;
  width: max-content;
}
